
@{
    ViewBag.Title = "DeleteProducts";
    @Styles.Render("~/Content/mainstyles.css");
    @Styles.Render("~/Content/searchProduct.css");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="welcome">
    <div class="background-image" style="background-image: url(Img/background.jpg);"></div>
    <h1>Delete a Product</h1>

    <div class="main-content">



        <form class="form-basic" method="post" action="#">


            <div class="form-row">
                <label>
                    <span>Select a product to delete</span>
                    <select name="dropdown"></select>
                </label>
            </div>

            <button type="submit">Delete </button>

            <span name="success"></span>
        </form>

    </div>


</section>