@{
    ViewBag.Title = "Products";
    @Styles.Render("~/Content/mainstyles.css");
    @Styles.Render("~/Content/products.css");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="welcome">
    <div class="background-image" style="background-image: url(Img/background.jpg);"></div>
    <h1>Products</h1>


</section>
]


<section class="features">



    <ul class="grid">
        <li>

            <a href="insert_product"><h4>Insert</h4></a>
            <i class="fa fa-pencil"></i>

        </li>
        <li>
            <a href="retrieve_products"><h4>Retrieve</h4></a>
            <i class="fa fa-file-text-o"></i>


        </li>
        <li>
            <a href="update_product"><h4>Update</h4></a>
            <i class="fa fa-repeat"></i>

        </li>
        <li>
            <a href="delete_product"><h4>Delete</h4></a>
            <i class="fa fa-trash"></i>

        </li>
        </div>
</section>

