/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;

}

ul, nav{
	list-style: none;
}


hr{
	width: 150px;
	height: 2px;
	background-color:  #C11212;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color:  #C11212
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	welcome Section
----------------*/

.welcome{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.welcome .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.welcome .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.welcome h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.welcome h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.welcome a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.welcome{
		min-height: 600px;
	}

	.welcome h1{
		font-size: 48px;
	}

	.welcome h3{
		font-size: 24px;
	}

	.welcome a.btn{
		padding: 15px 40px;
	}

}



/*--------------------
 	Our Work Section
---------------------*/

.оur-work{
	background-color: #fff;
}

.our-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color:  #C11212;
}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}



/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 20%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: # #C11212;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}


/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}



/*underline hover*/




a.hoverL{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	position: relative;
	opacity: 0.9;
}

/*effect-underline*/
a.hoverL:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition:opacity 0.35s, -webkit-transform 0.35s;
	transition:opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.hoverL:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


/*====================================================
MODAL
====================================================*/
.modal {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    text-align: center;
}

.modal-body {
    position: fixed;
    margin: 10% 30%;
    padding: 0.5em;
    height: auto;
    border: 1px solid #DDD;
    background-color: #FFFFFF;
    color: #000;
    width: 35%;
    animation: fade 0.5s;
}