
@{
    ViewBag.Title = "Melodic Music";
    @Styles.Render("~/Content/mainstyles.css");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="welcome">
    <div class="background-image" style="background-image: url(Img/background.jpg);"></div>
    <h1>Welcome to Melodic Music Admin Page</h1>
    <h3>Here you can manage our products, purchases and create users</h3>

</section>


<section class="our-work">
    <h3 class="title">Our Work</h3>
    <p>Our company organizes all your purchases of musical instruments, calculates budgets, offers many types of brands and prices to satisfy your preferences.</p>
    <hr>


</section>


<section class="features">
    <h3 class="title">Services</h3>

    <hr>

    <ul class="grid">
        <li>
            <i class="fa fa-users"></i>
            <h4>Users</h4>

            <p>Create users to administrate this page.</p>
        </li>
        <li>
            <i class="fa fa-shopping-cart"></i>
            <h4>Products</h4>
            <p>Insert, retieve, update and delete products of the company. </p>
        </li>
        <li>
            <i class="fa fa-usd"></i>
            <h4>Reports </h4>
            <p>Client and Products reports.</p>
        </li>
        </div>
</section>