@{
    ViewBag.Title = "Melodic Music";
    @Styles.Render("~/Content/mainstyles.css");
    @Styles.Render("~/Content/form-login.css");
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (IsPost)
    {
        string email = Request.Form["email"];
        string password = Request.Form["password"];

        Business.UserBusiness userBusiness = new Business.UserBusiness();

        if (userBusiness.LogInAsAdmin(email, password) != null)
        {
            Response.Redirect("login");
        }
    }
}

<section class="welcome">
    <div class="background-image" style="background-image: url(Img/background.jpg);"></div>

    <form class="form-login" method="post">

        <div class="form-log-in-with-email">

            <div class="form-white-background">

                <div class="form-title-row">
                    <h1>Log in</h1>
                </div>

                <div class="form-row">
                    <label>
                        <span>Email</span>
                        <input type="email" name="email">
                    </label>
                </div>

                <div class="form-row">
                    <label>
                        <span>Password</span>
                        <input type="password" name="password">
                    </label>
                </div>

                <div class="form-row">
                    <button type="submit">Log in</button>
                </div>

            </div>


        </div>



    </form>

</section>