
@{
    ViewBag.Title = "Crear Usuario";
    @Styles.Render("~/Content/mainstyles.css");
    @Styles.Render("~/Content/products.css");
    Layout = "~/Views/Shared/_Layout.cshtml";

    Business.UserBusiness ub = new Business.UserBusiness();
    String id = "", name = "", lastname = "", email = "", password = "", role = "", cardnumber = "";


}



@{



    if (IsPost)
    {
        name = Request.Form["name"];
        lastname = Request.Form["lastname"];
        email = Request.Form["email"];
        password = Request.Form["password"];
        role = Request.Form["role"];
        cardnumber = Request.Form["cardnumber"];

        Domain.User u = new Domain.User();

        u.cardNumber = cardnumber;
        u.name = name;
        u.email = email;
        u.role = role;
        u.password = password;
        u.lastName = lastname;


        u = ub.SignUp(u);

        if (!u.Equals(null))
        {


            <script type="text/javascript">
         alert("You have inserted the user successfully");
            </script>
        }

    }
}

<section class="welcome">
    <div class="background-image" style="background-image: url(Img/background.jpg);"></div>
    <h1>Create a User</h1>


    <div class="main-content">


        <form class="form-basic" method="post" action="#">

            <div class="form-row">
                <label>
                    <span>Name</span>
                    <input type="text" name="name" required>
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>LastName</span>
                    <input type="text" name="lastname" required>
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Email</span>
                    <input type="email" name="email" required>
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Password</span>
                    <input type="password" name="password" required>
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Confirm Password</span>
                    <input type="password" name="password" required>
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>CardNumber</span>
                    <input type="text" name="cardNumber" required>
                </label>
            </div>



            <div class="form-row">
                <label>
                    <span>Role</span>
                    <select name="role">
                        <option>Admin</option>
                        <option>User</option>

                    </select>
                </label>
            </div>


            <div class="form-row">
                <button type="submit">Insert</button>
            </div>

        </form>

    </div>


</section>


