@{
    ViewBag.Title = "Update";
    @Styles.Render("~/Content/mainstyles.css");
    @Styles.Render("~/Content/products.css");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="welcome">
    <div class="background-image" style="background-image:  url(Img/background.jpg);"></div>
    <h1>Product Report</h1>


    <div class="main-content">


        <form class="form-basic" method="post" action="#">


            <div class="form-row">
                <label>
                    <span>Insert the Product bellow</span>
                    <input type="text" name="brand">

                </label>
            </div>

            <div class="form-row">
                <button type="submit">Generate Report</button>
            </div>


            <div class="form-row">


                <table style="width:100%">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
            </div>


            <button type="submit">Export PDF</button>


            <li>

                <i class="fa fa-file-pdf-o" "></i>
            </li>


        </form>

    </div>


</section>
