
@{
    ViewBag.Title = "Update";
    @Styles.Render("~/Content/mainstyles.css");
    @Styles.Render("~/Content/products.css");
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="welcome">
    <div class="background-image" style="background-image: url(Img/background.jpg);"></div>
    <h1>Reports</h1>


</section>
]


<section class="features">



    <ul class="grid">
        <li>

            <a href="client_report"><h4>Client Report</h4></a>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>

        </li>
        <li>
            <a href="product_report"><h4>Products Report</h4></a>
            <i class="fa fa-shopping-cart"></i>
        </li>

        </div>
</section>

